* {
  padding: 0px;
  margin: 0px; }

body {
  min-height: 100vh;
  font-family: roboto;
  background-image: url(../png/fondopc.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

nav {
  width: 100%; }

#logo {
  width: 170px;
  height: 60px; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

footer {
  width: 100%;
  padding-top: 8px;
  background-color: black;
  display: flex;
  justify-content: center; }
  footer a {
    display: inline-block;
    font-family: roboto;
    font-size: 12px;
    color: white;
    margin: 0px;
    text-decoration: underline;
    margin-top: 5px; }
  footer p {
    font-family: 'Caveat', cursive;
    color: white;
    margin-top: 3px;
    margin-left: 10px;
    font-size: 16px; }

#ig {
  width: 30px;
  height: 30px; }

#wpp {
  width: 18px;
  height: 18px;
  margin: 5px; }

#grid_galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr 3fr;
  grid-template-areas: "a1 a2 a3" "a4 a2 a5" "a4 a6 a5";
  width: 90%;
  height: 50%;
  justify-items: space-between;
  border: solid white 5px; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.grid1 {
  grid-area: a1; }

.grid2 {
  grid-area: a3; }

.grid3 {
  grid-area: a2; }

.grid4 {
  grid-area: a4; }

.grid5 {
  grid-area: a5; }

.grid6 {
  grid-area: a6; }

img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }

#contacto {
  height: 600px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  background-color: rgba(128, 115, 115, 0.568);
  font-size: 18px;
  color: white;
  padding: 30px; }

#escribinos {
  background-color: rgba(0, 0, 0, 0.541);
  padding: 30px; }

label {
  font-size: 10%;
  display: block;
  margin-bottom: 10px; }

input {
  margin-bottom: 10px; }

.container h1 {
  font-size: 100%;
  color: white;
  font-family: 'Righteous', cursive;
  text-align: center; }

@media only screen and (max-width: 1200px) {
  body {
    background-image: url(../png/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%; }
  #VILNIUS h1 {
    font-size: 100px; }
  #BARBERIA h1 {
    font-size: 40px; } }

#contacto {
  height: 600px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
  background-color: rgba(128, 115, 115, 0.568);
  font-size: 18px;
  color: white;
  padding: 30px; }

#escribinos {
  background-color: rgba(0, 0, 0, 0.541);
  padding: 30px; }

label {
  font-size: 10%;
  display: block;
  margin-bottom: 10px; }

input {
  margin-bottom: 10px; }

.container h1 {
  font-size: 100%;
  color: white;
  font-family: 'Righteous', cursive;
  text-align: center; }

video {
  width: 100%;
  height: 100%; }

#VILNIUS {
  width: 100%;
  height: 170px;
  font-size: 180px; }

#BARBERIA {
  font-size: 90px; }

#servicios {
  box-shadow: 0px 0px 25px #222;
  backdrop-filter: blur(10px);
  height: 100%;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
  padding: 20px;
  font-family: 'Caveat', sans-serif;
  font-size: 120%; }
  #servicios h3 {
    margin: 20px; }
  #servicios ul {
    margin: 20px; }
  #servicios li {
    margin: 30px; }

/* KEYFFRAMES */
.animate__animated.animate__fadeInDown {
  --animate-duration: 3s; }

.animate__animated.animate__fadeInLeft {
  --animate-duration: 3s;
  --animate-delay: 2s; }
