#grid_galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 3fr;
    grid-template-areas: "a1 a2 a3"
                         "a4 a2 a5"
                         "a4 a6 a5";
    width: 90%;
    height: 50%;
    justify-items: space-between;
    border: solid white 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid1 {
    grid-area: a1;
}
.grid2{
    grid-area: a3;
}
.grid3{
    grid-area: a2;
}
.grid4{
    grid-area: a4;
}
.grid5{
    grid-area: a5;
}
.grid6{
    grid-area: a6;
}

img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
 img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}