@media only screen and (max-width:1200px ) {

    body{
        background-image: url(../png/fondo.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        min-width: 100%;
    }
    #VILNIUS h1 {
        font-size: 100px;
    }
    
    #BARBERIA h1 {
        font-size: 40px;
    }
}

