
#contacto {
    height: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    background-color:rgba(128, 115, 115, 0.568);
    font-size: 18px;
    color: white;
    padding: 30px;
}

#escribinos {
    background-color: rgba(0, 0, 0, 0.541);
    padding: 30px;
}

label {
    font-size: 10%;
    display: block;
    margin-bottom: 10px;
}
input{
    margin-bottom: 10px;
}
  
.container h1 {
    font-size:100% ;
    color:white;
    font-family: 'Righteous', cursive;
    text-align: center;
}
